@import "utils/variables";
@import "components/logo";
@import "components/social-media-icons";
@import "components/page-header";
@import "components/main-section";
@import "components/page-footer";
@import "components/modal";
@import "components/checkbox";
@import "components/mobile-menu";

.figure {
  margin: 0;
  padding: 0;
}

.container {
  font-family: $main-font;
  color: $secondary-color;
  width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
