.page-footer {
  background-color: $background-color;
  padding: 60px 15px;

  &__social {
    width: 206px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
  }

  &__label {
    margin: 0 0 20px 0;
    color: white;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.address {
  margin-bottom: 60px;
  text-align: center;
  font-style: normal;

  &__element {
    color: white;
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__link {
    display: block;
    color: #ffffff99;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $primary-color;
    }
  }
}

.form-newsletter {
  margin-top: 60px;

  &__heading {
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
  }

  &__input {
    background-color: $background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    margin: 20px auto;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    fill: white;
    cursor: pointer;
  }

  &__label {
    margin: 0;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: white;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__social {
      margin-left: 144px;
    }
  }

  .address {
    margin-left: 76px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    flex-wrap: nowrap;
    padding: 0 0 60px 0;

    &__social {
      margin: 72px auto 0;
    }
  }

  .address {
    margin: 60px auto 0;
  }

  .form-newsletter {
    margin: 72px auto 0;
  }
}
